<div class=" mt-8 sm:mt-14">
  <div class="text-center text-2xl sm:text-3xl font-bold text-gray-800"><%= t("profiles.mypage_edit") %></div>
</div>
<%= form_with model: @profile, url: profile_path, local: true do |f| %>
  <div class="text-gray-500">
    <div class="container mx-auto flex-col items-center justify-center px-5 py-3">

      <div class="flex flex-col items-center justify-start w-full m-5 text-sm sm:text-base">
        <% if @profile.avatar.attached? %>
            <%= image_tag(@profile.avatar_thumbnail)%>
        <% end %>
        <div data-controller="image-preview" data-image-preview-width="250">
          <%= f.file_field :avatar, data: { "image-preview-target": "input", "action": "change->image-preview#previewImage"}, class: "object-cover object-center rounded" %>
          <div data-image-preview-target="preview" class="mt-5"></div>
        </div>
      </div>

      <div class="flex flex-col items-center justify-center m-5 w-full sm:max-w-md mx-auto">
        <%= f.label :name, class: "leading-relaxed" %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name",
                class: "w-full px-3 py-2 mb-4 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" %>

        <%= f.label :description, class: "leading-relaxed" %>
        <%= f.text_area :description, autofocus: true, autocomplete: "description",
                class: "w-full px-3 py-2 mb-5 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" %>
      </div>
      <div class="flex justify-center">
        <%= f.submit "更新", class: "w-36 px-2 sm:px-3 py-2 sm:py-4 text-sm sm:text-base text-center text-white bg-indigo-500 rounded-md focus:bg-indigo-600 focus:outline-none"%>
      </div>


    </div>
  </div>
<% end %>