<%if !user_signed_in?%>
  <div class="bg-white py-12 justify-center flex">
    <div class="mx-auto max-w-screen-lg px-4 sm:px-2">
      <div class="flex flex-wrap -mx-2 mb-10">
        <div class="w-full sm:w-1/3 px-2 sm:order-1">
          <div class="text-center text-xl sm:text-2xl text-gray-800 font-bold">
            <div class="sm:mt-24 mb-1">言いたいけど言いだしにくい</div>
            <div class="mb-1">そんなことありませんか？</div>

            <div class="mb-1">
              <div class="mb-1"><span class="text-blue-500">KIMOCHI</span>はそんな悩みを</div>
              <div>少しだけ楽にできるかも</div>
            </div>
          </div>

          <div class="flex my-10 justify-center">
            <%= link_to "LINEでログイン", user_line_omniauth_authorize_path, method: :post, class: "w-full sm:w-40 x-3 py-2 text-white text-sm text-center bg-green-500 rounded-md focus:outline-none"%>
          </div>
        </div>
        <div class="w-full sm:w-2/3 px-2 sm:order-2">
          <%= image_tag "/kimochi_top2.png"%>
        </div>
      </div>


      <div class="mb-12">
        <div class="mb-3 text-xl sm:text-3xl font-bold text-gray-800 border-b-2">
          <span class="text-blue-500">KIMOCHI</span>とは
        </div>

        <div class="mb-6 text-base sm:text-lg text-gray-500">
          <div class="mb-2">
            <div class="mb-2 text-base">共同生活をしているときやグループで行動している時</div>
            <div class="mb-2 sm:text-2xl">飲みに誘われたけど、続いてるしなあ…</div>
            <div class="mb-2 sm:text-2xl">麻雀に誘われたけど、先週も行ったしなあ…</div>
            <div class="mb-2 sm:text-2xl">だらだらしたいけど、俺働いてないしなあ…</div>
            <div>そんなことありませんか？</div>
          </div>
          <div class="mb-2 text-base">
            KIMOCHIは共同生活者やグループメンバーに自分がしたいことと、それを実行するための条件を設定し、同時に伝えることができます<br/>
            その条件はいつでも変更することができるのでメンバーと相談しながらお互い納得する条件を設定しましょう!
          </div>
          <div class="flex justify-center">
            <%= image_tag "/kimochi_top_page.png", class: "border mb-2" %>
          </div>

          <p class="mb-2 text-base sm:text-lg">
            まずはアプリに登録して、グループを作成して共同生活者やグループメンバーをアプリに招待しましょう！<br/>
            LINEアカウントで登録および公式LINEアカウントを登録してもらえると、公式LINEアカウントから通知が届くようになります!
          <p>

          <div class="flex my-5 justify-center">
            <%= link_to "LINEアカウントでログイン", user_line_omniauth_authorize_path, method: :post, class: "w-2/3 x-3 py-2 text-white  text-sm text-center bg-green-500 rounded-md focus:outline-none"%>
          </div>
        </div>
      </div>
    </div>
  </div>

<%else%>

  <div class="my-10 sm:order-1">
    <div class="text-center text-2xl sm:text-3xl font-bold text-gray-800">使い方</div>
  </div>

  <div class="flex justify-center text-center">
    <div class="grid gap-6 sm:grid-cols-2 grid-cols-1 place-items-center max-w-3xl p-2 text-sm sm:text-base">
      
      <div class="w-auto h-auto flex flex-col justify-center sm:order-2">
        <h1 class="mb-3 text-lg sm:text-xl font-bold text-gray-800">
          グループを作成しよう
        </h1>
        <div class="text-sm sm:text-base text-gray-500">
          ヘッダーにある「新規グループ作成」から新しいグループを作成しましょう
        </div>
      </div>
      <div class="w-full h-80 flex justify-center items-center p-2 border-2 rounded sm:order-3">
        <%= image_tag "/new_group.png", class: "object-contain max-w-full max-h-full" %>
      </div>


      <div class="w-auto h-auto flex flex-col justify-center sm:order-5">
        <h1 class="mb-3 text-lg sm:text-xl font-bold text-gray-800">
          メンバーを招待しよう
        </h1>
        <div class="text-base text-gray-500">
          所属グループ一覧から作成したグループの詳細ページに移動して、招待リンクを作成して、そのURLを招待したい人に送りましょう
        </div>
      </div>
      <div class="w-full h-80 flex justify-center items-center p-2 border-2 rounded sm:order-4">
        <%= image_tag "/create_link.png", class: "object-contain max-w-full max-h-full" %>
      </div>


      <div class="h-auto flex flex-col justify-center sm:order-6">
        <h1 class="mb-3 text-lg sm:text-xl font-bold text-gray-800">
          リクエストを作成しよう
        </h1>
        <div class="text-base text-gray-500">
          新規リクエスト作成ボタンを押して、新しいリクエストを作りましょう
        </div>
      </div>
      <div class="w-full h-80 flex justify-center items-center p-2 border-2 rounded sm:order-7">
        <%= image_tag "/request_new.png", class: "object-contain max-w-full max-h-full" %>
      </div>


      <div class="h-auto flex flex-col justify-center sm:order-9">
        <h1 class="mb-3 text-lg sm:text-xl font-bold text-gray-800">
          チャット機能を使って内容の相談をしましょう
        </h1>
        <div class="text-base text-gray-500">
          自分のしたいこと、そのための条件を承認者と相談して決めましょう
        </div>
      </div>
      <div class="w-full h-80 flex justify-center items-center p-2 border-2 rounded sm:order-8">
        <%= image_tag "/chat_demo.png", class: "object-contain max-w-full max-h-full" %>
      </div>



      <div class="h-auto flex flex-col justify-center sm:order-10">
        <h1 class="mb-3 text-lg sm:text-xl font-bold text-gray-800">
          承認者はリクエスト内容を確認して承認しましょう
        </h1>
        <div class="text-base text-gray-500">
          承認されたリクエストは自動で承認済みリストに移動します
        </div>
      </div>
      <div class="w-full h-80 flex justify-center items-center p-2 border-2 rounded sm:order-11">
        <%= image_tag "/request_approval.png", class: "object-contain max-w-full max-h-full" %>
      </div>

      <div class="h-auto flex flex-col justify-center sm:order-13">
        <h1 class="mb-3 text-lg sm:text-xl font-bold text-gray-800">
          条件をクリアしよう
        </h1>
        <div class="text-base text-gray-500">
          承認者から承認してもらったリクエストは、設定した条件を実行することが可能になります。1つ1つクリアしていきましょう
        </div>
      </div>
      <div class="w-full h-80 flex justify-center items-center p-2 border-2 rounded sm:order-12">
        <%= image_tag "/task_list.png", class: "object-contain max-w-full max-h-full" %>
      </div>



      <div class="h-auto flex flex-col justify-center sm:order-14">
        <h1 class="mb-3 text-lg sm:text-xl font-bold text-gray-800">
          リクエストを完了しよう
        </h1>
        <div class="text-base text-gray-500">
          全ての条件をクリアするとリクエスト詳細ページに「完了」ボタンが現れます。完了ボタンを押すとリクエストが達成され、リストからリクエストが消えます。
        </div>
      </div>
      <div class="w-full h-80 flex justify-center items-center p-2 border-2 rounded sm:order-15">
        <%= image_tag "/complete.png", class: "object-contain max-w-full max-h-full" %>
      </div>
    </div>
  </div>

<%end%>