<div class="flex items-center bg-white">
    <div class="container mx-auto">
        <div class="max-w-md mx-2 sm:mx-auto my-10">

            <%= form_with model: group, url: form_url, local: true do |f| %>
            <div class="mb-6">
              <%= f.label :name, class: "block mb-2 text-sm text-gray-800" %>
              <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "らんてっくぐるーぷ",
                class: "w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300" %>
            </div>
            <div class="mb-6">
              <%= f.label :description, class: "block mb-2 text-sm text-gray-800" %>
              <%= f.text_area :description, autofocus: true, placeholder: "グループの説明",
                class: "w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300" %>
            </div>
            <div class="mb-6 flex">
              <%= f.submit "作成",class: "mx-auto w-20 sm:w-36 px-2 sm:px-3 py-2 sm:py-4 text-sm sm:text-base text-center text-white bg-indigo-500 rounded-md focus:bg-indigo-600 focus:outline-none" %>
            </div>
            <% end %>
        </div>
    </div>
</div>

