<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="px-4 py-12 mx-auto bg-gray-50 max-w-7xl sm:px-6 lg:px-16">
    <div class="rounded-lg bg-gray-50 px-4 py-6 md:py-8 lg:py-12">
      <h1 class="mb-4 text-center text-2xl font-semibold text-indigo-500 md:mb-6 lg:text-3xl"><%= @group.name %></h1>

      <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg"><%= @group.description %></p>

    </div>
    <div class="flex justify-end space-x-4">
      <div><%= link_to "リクエスト作成", new_group_request_path(@group), class: "btn btn-success" %></div>
      <div><%= link_to "編集", edit_group_path, class: "btn btn-warning" %></div>
      <div><%= button_to "削除", group_path, class: "btn btn-error", method: :delete %></div>
    </div>
  </div>
</div>