<div class="mt-10">
  <div class="text-center text-2xl sm:text-3xl font-bold text-gray-800"><%=t("groups.requests.completed_requests.title")  %></div>
</div>
<div class="bg-white my-10 px-4 text-gray-500 font-sans text-sm sm:test-base">
  <div class="mx-auto max-w-screen-xl">
    <div class="overflow-x-auto">
      <table class="table min-w-full">
        <thead class="text-center">
          <tr>
            <th>No.</th>
            <th>タイトル</th>
            <th>グループ名</th>
            <th>作成者</th>
            <th>作成日</th>
          </tr>
        </thead>
        <tbody>
          <% @completed_requests.each_with_index do |request, index| %>
          <tr data-controller="link" data-action="click->link#go" data-url="<%= group_request_path(params[:group_id], request) %>" class="hover hover:cursor-pointer text-center">
            <td class="truncate"><%= index + 1 %></td>
            <td class="truncate"><%= request.take %></td>
            <td class="truncate"><%= request.group.name %></td>
            <td class="truncate"><%= request.user.profile.name %></td>
            <td class="truncate"><%= l request.created_at, format: :japan %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>