<div class="bg-white my-5">
  <div class="mx-auto max-w-screen-2xl px-4">

    <!-- text - start -->
    <div class="mb-5">
      <div class="mb-5 text-stert text-3xl font-bold text-gray-800">
        <p>GIVE & TAKE DETAIL</p>
      </div>
        <div class="mx-auto text-left text-gray-500 md:text-lg">
          <% if @request.status == "draft" %>
            <div>内容に間違いなければ申請ボタンを押して申請しましょう!</div>
            <div>内容を修正するときは編集ボタンを押しましょう!</div>
          <% elsif @request.status == "unauthorized" %>
            <div>下記条件を承認したときはチェックボックスにチェックを入れて、承認ボタンを押しましょう!</div>
          <% elsif @request.status == "authorized" %>
            <div>giveを実行してpossibleにしましょう</div>
          <% else %>
            <div>possible状態文言まだ考えてない</div>
          <%end%>
      </div>
    </div>
    <!-- text - end -->

    <div class="grid grid-rows-3 grid-flow-col gap-2">
    <!-- take情報 -->
      <div class="row-span-2 bg-red-100 px-2 py-2 flex items-center">
        <div class="flex-1 w-40">
          <div class="mb-2"><%= "投稿者:#{@request.user.profile.name}"%></div>
          <div>あの〜…</div>
          <div class="mb-2"><%= @request.take%></div>
          <div class="mb-2"><%= "日時:#{l @request.execution_date, format: :default}"%></div>
          <div class="mb-2"><%= @request.comment %></div>
        </div>
        <div class="px-5 py-5">
          <% if @request.image.present?%>
              <%= image_tag @request.image_thumbnail %>
          <% end %>
        </div>
      </div>


      <div class="row-span-1 bg-red-100  px-2 py-2">これやります！
        <ul class="list-disc list-inside">
          <% @request.gives.each do |give| %>
            <% if @request.authorized? %>
              <ol>
              <%= check_box_tag "gives[]", give.id %>
              <%= label_tag "#{give.content}:#{l give.deadline, format: :short}" %>
              </ol>
            <%else%>
              <li><%= give.content %>:<%=l give.deadline, format: :short %></li>
            <%end%>
          <%end%>
        </ul>
      </div>

      <div class="row-span-1 bg-blue-200  px-2 py-2">
        <div class="mb-2">承認者</div>
        <ul class="mb-2 list-disc list-inside">
          <% @request.authorizers.each do |member| %>
            <% if @request.unauthorized?%>
              <%= check_box_tag "authorizers[]", member.id %>
              <%= label_tag "#{member.profile.name}" %>
            <%else%>
             <li><%= member.profile.name%></li>
            <%end%>
          <%end%>
        </ul>
      </div>

      <div class="row-span-2 bg-green-200  px-2 py-2">chat

      </div>
    </div>



    <!-- button_zone -->
    <div class="flex justify-center gap-4 py-5">
      <% if @request.user_id == current_user.id && @request.draft? %>
      <div class="btn btn-primary">
        <%= button_to "編集", edit_group_request_path(@group, @request), method: :get %>
      </div>
      <% end %>

      <% if @request.user_id == current_user.id && @request.draft? %>
        <div class="btn btn-primary">
          <%= button_to "申請", group_request_apply_path(@group, @request) , method: :post %>
        </div>
      <% end %>

      <% if @request.user_id == current_user.id && @request.draft? %>
        <div class="btn btn-primary">
        <%= button_to "削除", group_request_path, method: :delete %>
      </div>
      <% end %>

      <% if @request.user_id == current_user.id && !@request.draft? %>
        <div class="btn btn-primary">
          <%= button_to "申請取下", group_request_cancel_apply_path(@group, @request) , method: :post %>
        </div>
      <% end %>

      <% if @request.authorizers_check(current_user) && @subject_authorizer.unauthorized? && @request.unauthorized? %>
      <div class="btn btn-primary">
        <%= button_to "承認", group_request_admit_path(@group, @request), method: :post %>
      </div>
      <% end %>

      <% if @request.authorizers_check(current_user) && @subject_authorizer.authorized? && @request.authorized?%>
      <div class="btn btn-primary">
        <%= button_to "承認取消", group_request_cancel_admit_path(@group, @request), method: :post %>
      </div>
      <% end %>
    </div>
  </div>
</div>

