<div class="flex items-center my-10 bg-white">
  <div class="container mx-auto">
    <div class="max-w-md mx-auto">
      <div class="text-center">
        <h1 class="my-3 text-3xl font-semibold text-gray-700 dark:text-gray-200"><%= t("defaults.login")%></h1>
      </div>
      <%= form_with model:@user, url: user_session_path, method: :post do |f| %>
        <div class="mb-6">
          <%= f.label :email, class: "mb-2 text-sm text-gray-600" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "test@exemple.com", class: "w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300" %>
        </div>
        <div class="mb-6">
          <%= f.label :password, class: "mb-2 text-sm text-gray-600" %>
          <%= f.password_field :password, autofocus: true, autocomplete: "current-password", class: "w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300" %>
        </div>
        <div class="mb-6">
          <%= f.submit t("defaults.login"), class: "w-full px-3 py-4 text-white bg-indigo-500 rounded-md bg-indigo-600 focus:outline-none" %>
        </div>
      <% end %>
      <div class="flex mb-6">
        <%= link_to "LINEでログイン", user_line_omniauth_authorize_path, method: :post, class: "px-3 py-4 w-full text-white text-center bg-green-500 rounded-md" %>
      </div>
      <div>
        <%= link_to t(".forget_password"), "#", class: "text-sm text-gray-400 focus:outline-none focus:text-indigo-500 hover:text-indigo-500"%>
      </div>
      <div>
        <%= link_to t(".new_user_register"), new_user_registration_path, class: "text-sm text-gray-400 focus:outline-none focus:text-indigo-500 hover:text-indigo-500"%>
      </div>
    </div>
  </div>
</div>
