<div class="mx-auto grid max-w-screen-md gap-4 sm:grid-cols-2">
  <div class="sm:col-span-2">
    <%= f.hidden_field :group_id, value: params[:group_id] %>
  </div>
  <div class="sm:col-span-2">
    <%= f.label :take, class: "mb-2 inline-block text-sm text-gray-800 sm:text-base" %>
    <%= f.text_field :take, class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300" %>
  </div>
  <div class="sm:col-span-2">
    <%= f.label :execution_date, class: "mb-2 inline-block text-sm text-gray-800 sm:text-base" %>
    <%= f.datetime_field :execution_date, class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300" %>
  </div>
  <div class="sm:col-span-2">
    <%= f.label :image, class: "mb-2 inline-block text-sm text-gray-800 sm:text-base" %>
    <%= f.file_field :image, class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition" %>
  </div>
  <div class="sm:col-span-2">
    <%= f.label :give1, class: "mb-2 inline-block text-sm text-gray-800 sm:text-base" %>
    <%= f.text_field :give1, placeholder: "対価を必ず1つは入力してください", class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition" %>
  </div>
  <div class="sm:col-span-2">
    <%= f.label :give2, class: "mb-2 inline-block text-sm text-gray-800 sm:text-base" %>
    <%= f.text_field :give2, class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition" %>
  </div>
  <div class="sm:col-span-2">
    <%= f.label :give3, class: "mb-2 inline-block text-sm text-gray-800 sm:text-base" %>
    <%= f.text_field :give3, class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition" %>
  </div>
  <div class="sm:col-span-2">
    <%= f.label :comment, class: "mb-2 inline-block text-sm text-gray-800 sm:text-base" %>
    <%= f.text_area :comment, class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition" %>
  </div>
  <div class="sm:col-span-2">
    <%= f.label :authorizers, class: "mb-2 inline-block text-sm text-gray-800 sm:text-base" %>
      <div class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition">
        <%= collection_check_boxes(:request, :authorizer_ids, group.users.reject { |user| user == current_user }, :id, proc{ |user| user.profile.name }) do |a|%>
          <%= a.label {a.check_box + a.text}%>
        <% end %>
      </div>
  </div>
  <div>
    <%= f.submit class: "w-1/2 px-3 py-4 text-white bg-indigo-500 rounded-md focus:bg-indigo-600 focus:outline-none" %>
  </div>
</div>