<div class="mx-auto grid gap-4 grid-cols-1 sm:grid-cols-2 max-w-screen-md text-xs sm:text-base text-gray-500">
  <div class="col-span-2">
    <%= f.hidden_field :group_id, value: params[:group_id] %>
  </div>
  <div class="col-span-2">
    <%= f.label :take, class: "mb-2 inline-block font-bold" %>
    <%= f.text_field :take, class: "w-full rounded border bg-gray-50 px-3 py-2 focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 transition", placeholder: "ä¾‹ï¼šéº»é›€ãŒã—ãŸã„ðŸ€„ï¸" %>
  </div>
  <div class="col-span-2">
    <%= f.label :execution_date, class: "mb-2 inline-block font-bold" %>
    <%= f.datetime_field :execution_date, class: "w-full rounded border bg-gray-50 px-3 py-2 focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300" %>
  </div>
  
  <div data-controller="image-preview" data-image-preview-width="200" class="col-span-2 grid grid-cols-1 sm:grid-cols-2 gap-4">
    <!-- å·¦å´: ç”»åƒã‚¢ãƒƒãƒ—ãƒ­ãƒ¼ãƒ‰ãƒ•ã‚£ãƒ¼ãƒ«ãƒ‰ -->
    <div>
      <%= f.label :image, class: "mb-2 inline-block font-bold" %>
      <%= f.file_field :image, data: {"image-preview-target": "input", "action": "change->image-preview#previewImage"}, class: "w-full rounded border bg-gray-50 px-3 py-2 focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 transition" %>
    </div>
    <!-- å³å´: ç”»åƒãƒ—ãƒ¬ãƒ“ãƒ¥ãƒ¼è¡¨ç¤º -->
    <div data-image-preview-target="preview" class="col-span-1"></div>
  </div>

  <div class="col-span-2 border-b-2"></div>

  <%= f.fields_for :gives do |give_f| %>
    <div class="col-span-2 sm:col-span-1">
      <%= give_f.label :content, class: "mb-2 inline-block font-bold" %>
      <%= give_f.text_field :content, class: "w-full rounded border bg-gray-50 px-3 py-2 focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 transition", placeholder: "ä¾‹ï¼šé¢¨å‘‚æŽƒé™¤" %>
    </div>
    <div class="col-span-2 sm:col-span-1">
      <%= give_f.label :deadline, class: "mb-2 inline-block font-bold" %>
      <%= give_f.datetime_field :deadline, class: "w-full rounded border bg-gray-50 px-3 py-2 focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 transition" %>
    </div>
  <%end%>

  <div class="col-span-2 border-b-2"></div>

  <div class="col-span-2">
    <%= f.label :comment, class: "mb-2 inline-block font-bold" %>
    <%= f.text_area :comment, class: "w-full rounded border bg-gray-50 px-3 py-2 focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 transition", placeholder: "ä¾‹ï¼šãƒã‚¹ãƒžã‚¸ãƒƒã‚¯ãƒªãƒ³ã‚‚è²·ã£ã¦ãã¾ã™ï¼" %>
  </div>
  <div class="col-span-2">
    <%= f.label :authorizers, class: "mb-2 inline-block font-bold" %>
      <div class="w-full rounded border bg-gray-50 px-3 py-2 focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 transition">
        <%= collection_check_boxes(:request, :authorizer_ids, group.users.reject { |user| user == current_user }, :id, proc{ |user| user.profile.name }) do |a|%>
          <%= a.label {a.check_box + a.text}%>
        <% end %>
      </div>
  </div>
  <div class="flex col-span-2 justify-items-center">
    <%= f.submit class: "mx-auto sm:w-36 px-2 sm:px-3 py-2 sm:py-4 text-xs sm:text-sm text-center text-white bg-indigo-500 rounded-md focus:bg-indigo-600 focus:outline-none" %>
  </div>
</div>