<!DOCTYPE html>
<html>
  <head>
    <title>Kimochi3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>

    <header  class="bg-blue-50 fixed top-0 w-full z-auto ">
      <%= render "shared/header" %>
    </header>

    <div class="mt-20">
      <% flash.each do |key, message| %>
      <div class="alert alert-<%= key %>">
        <%= message %>
      </div>
      <% end %>
    </div>

    <div class="flex flex-row bg-white mb-14 overflow-y-auto">
      <%  if user_signed_in? %>
        <div class="min-h-screen bg-gray-50 w-28 sm:w-52">
          <%= render "shared/sidebar"%>
        </div>
      <%end%>
      <div class="flex-grow overflow-auto">
        <%= yield %>
      </div>
    </div>


    <footer class="bg-blue-50 fixed bottom-0 w-full">
      <%= render "shared/footer" %>
    </footer>
  </body>
</html>
