<!DOCTYPE html>
<html>
  <head>
    <title>Kimochi3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    
    <%= render "shared/header" %>

    <% flash.each do |key, message| %>
      <div class="alert alert-<%= key %>">
        <%= message %>
      </div>
    <% end %>
    
    <div class="flex lg:flex-row">
      <%  if user_signed_in? %>
        <%= render "shared/sidebar"%>
      <%end%>

      <div class="flex-grow">
        <%= yield %>
      </div>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
